* html, body, div, span, h1, h2, h3, h4, p {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100;
}

body {
  background: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;

}

#container {
  width: 380px;
  margin: 15px auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #ddd;
}

.header {
  text-align: center;
  border-bottom: 5px solid #8d2926;
  background: #EA452F;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

}

.header h1 {
  padding: 10px;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 2px 3px #932c2c;
  color: white;
}

.subheader:after {
  content: "";
  display: block;
  clear: both;
}

.subheader {
  width: 360px;
  margin: 9px auto 7px auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #cdcdcd;
}

.subheader .timer-text {
  float: left;
  margin: 10px 0 0 25px;
  padding: 5px 0 5px 10px;
  font-size: 30px;
  color: #777;
  font-weight: lighter;
}


.subheader .timer {
  float: right;
  margin: 0 30px 0 0;
  padding: 5px 0 5px 0;
  font-size: 45px;
  font-weight: lighter;
}

.gridContainer {
  width: 350px;
  margin: 0 auto;
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #eee;
  border: 5px solid #ccc;
  position: relative;

}


.gridContainer:after {
  content: "";
  display: block;
  clear: both;
}

.cell {
  width: 67.6px;
  height: 67.6px;
  margin: 1px;
  border: 3px solid #618dc7;
  background: #3970b9;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-sizing: border-box;
}

.cell:hover {
  background: #3e78b7;
  border: 1px solid #b0c6e3;
  cursor: pointer;
}

.cell:active {
  width: 57.6px;
  height: 57.6px;
  margin: 6px;
  background: #88a9d5;
}

.cellRight {
  width: 67.6px;
  height: 67.6px;
  margin: 1px;
  border: 3px solid #618dc7;
  background: none;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-sizing: border-box;
}

.cellWrong {
  width: 67.6px;
  height: 67.6px;
  margin: 1px;
  border: 3px solid #618dc7;
  background: red;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-sizing: border-box;
}

.cellNumber {
  width: 67px;
  height: 67px;
  padding: 15px;
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #eee;
  box-sizing: border-box;
}

#info {
  width: 350px;
  height: 350px;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  position: absolute;
  font-size: 30px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#info p {
  width: 200px;
  padding: 30px;
  margin: 90px auto 0 auto;
  text-align: center;
}

#countdownNum{
  position: relative;
  top: -60px;
  text-align: center;
  font-size: 160px;
  z-index: 2;
  font-weight: bolder;

}

.section-button {
  text-align: center;
  padding: 20px 0 20px 0;
}

.buttonAround {
  width: 155px;
  height: 55px;
  margin: 0 auto;
  background: #ccc;
  border: 3px solid #bdbdbd;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

}

#startButton {
  width: 150px;
  height: 50px;
  margin: 2px auto 0 auto;
  background: #214668;
  color: #eee;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 25px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: none;
}

#startButton:active {
  background: #2d526d;
}

#startButton:focus {
  outline: none;
}
