* html, body, div, span, h1, h2, h3, h4, p {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
}

body {
  background: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;

}

#container {
  width: 380px;
  margin: 15px auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #ddd;
}

.header {
  text-align: center;
  border-bottom: 5px solid #8d2926;
  background: #EA452F;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

}

.header h1 {
  padding: 10px;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 2px 3px #932c2c;
  color: white;
}



.subheader {
  width: 360px;
  height: 70px;
  margin: 9px auto 7px auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #cdcdcd;
}

.subheader:after {
  content: "";
  display: block;
  clear: both;
}

.nextNumBox {
  width: 50px;
  height: 50px;
  float: left;
  margin: 10px 0 0 7px;
  padding: 5px 0 5px 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  color: #777;
  box-sizing: border-box;
}

#nexNumBoxOne {
  background: rgba(11, 65, 134, 0.4);
}

#nexNumBoxTwo {
  background: rgba(11, 65, 134, 0.2);
}

.nextNumStyle {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

#nextNumOne {
  color: rgba(255, 255, 255, 1);
}

#nextNumTwo {
  color: rgba(255, 255, 255, 0.5);
}

.subheader .timer {
  float: right;
  margin: 0 20px 0 0;
  padding: 5px 0 5px 0;
  font-size: 45px;
  font-weight: lighter;
  color: #333;
}

.gridContainer {
  width: 350px;
  margin: 0 auto;
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #eee;
  border: 5px solid #ccc;
  position: relative;

}


.gridContainer:after {
  content: "";
  display: block;
  clear: both;
}

.cell {
  width: 67.6px;
  height: 67.6px;
  margin: 1px;
  border: 2px solid rgba(11, 65, 134, 0.05);
  background: rgba(11, 65, 134, 0.65);
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-sizing: border-box;
}

.cell:hover {
  border: 2px solid rgba(11, 65, 134, 0.05);
  background: rgba(11, 65, 134, 0.63);
  cursor: pointer;
}

.cell:active {
  width: 57.6px;
  height: 57.6px;
  margin: 6px;
  background: rgba(11, 65, 134, 0.4);
}

.cellRight {
  width: 67.6px;
  height: 67.6px;
  margin: 1px;
  border: 2px solid rgba(11, 65, 134, 0.08);
  background: rgba(11, 65, 134, 0.68);
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-sizing: border-box;
}

.cellRight:hover {
  border: 2px solid rgba(11, 65, 134, 0.08);
  background: rgba(11, 65, 134, 0.66);
  cursor: pointer;
}

.cellDone{
  width: 67.6px;
  height: 67.6px;
  margin: 1px;
  border: 3px solid rgba(11, 65, 134, 0.4);
  background: none;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-sizing: border-box;
}

.cellNumber {
  width: 67.2px;
  height: 67.2px;
  padding: 15px;
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #eee;
  box-sizing: border-box;
}

#info {
  width: 350px;
  height: 350px;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  position: absolute;
  font-size: 30px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#info p {
  width: 200px;
  padding: 30px;
  margin: 90px auto 0 auto;
  text-align: center;
}

#countdownNum{
  position: relative;
  top: -60px;
  text-align: center;
  font-size: 160px;
  z-index: 2;
  font-weight: bolder;

}

.section-button {
  text-align: center;
  padding: 20px 0 20px 0;
}

.buttonAround {
  width: 155px;
  height: 55px;
  margin: 0 auto;
  background: #ccc;
  border: 3px solid #bdbdbd;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

}

.startButton {
  width: 150px;
  height: 50px;
  margin: 2px auto 0 auto;
  background: rgba(13, 56, 136, 0.7);
  color: #eee;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 25px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: none;
}

.startButton:hover {
  rgba(13, 56, 136, 0.4)
}

.startButton:active {
  background: rgba(13, 56, 136, 0.2);
}

.startButton:focus {
  outline: none;
}

.resetButton {
  width: 150px;
  height: 50px;
  margin: 2px auto 0 auto;
  background: rgba(197, 37, 16, 0.7);
  color: #eee;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 25px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: none;
}

.resetButton:hover {
  background: rgba(197, 37, 16, 0.4);
}

.resetButton:active {
  background: rgba(197, 37, 16, 0.2);
}

.resetButton:focus {
  outline: none;
}
